<div class="container mt-5">
  <h1 class="mt-5 text-center">ABOUT</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur assumenda, dicta repellat voluptatum quam recusandae ea deserunt, ullam fuga, voluptate libero quos possimus. Nobis repudiandae asperiores dolore reiciendis est qui. </p>
</div>