<div class="container mt-5">
  <h1 class="mt-5 text-center">BLOG</h1>
  <form id="add-post">
    <input name="name" type="text" placeholder="Name" /><br/>
    <input name="category" type="text" placeholder="Category" /><br/>
    <input name="author" type="text" placeholder="Author" /><br/>
    <textarea name="content" placeholder="Content"></textarea>
    <button type="submit">Save</button>
  </form>
</div>

<script src="add-post.js"></script>