<div class="text-center container mt-5">
  <h1 class="mt-5 text-center">Welcome, {{name}}</h1>
  <p>{{date}}</p>
  <img src= "{{img_src}}" class="img-fluid row text-center" style="height: 400px; width: 300px; margin:auto;"/>
</div>
